# fly.toml app configuration file generated for maketou-deploy-hub-api on 2025-03-22T10:58:43-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'maketou-deploy-hub-api'
primary_region = 'mad'

[build]

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'off'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
size = "shared-cpu-2x"
memory = "2gb"
cpu_kind = 'shared'
cpus = 2

[env]
DEPLOYMENT_TRACKER_BATCH_SIZE = "10"
DEPLOYMENT_MAX_RUNNING_HOURS = '1'
API_BASE_URL = "https://maketou-deploy-hub-api.fly.dev/api/v1"
